.AppleDouble
.classpath
.DS_Store
.env
.idea/
.LSOverride
.project
.settings
.Spotlight-V100
.Trashes
.vscode
*.class
*.iml
*.jar
*.lcov
docs
Icon
settings.xml
src/scratch
target
/easypost_java_style.xml
/style_suppressions.xml
